<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy_ninjaBlue_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{96,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,107}}</string>
                <key>sourceSize</key>
                <string>{96,107}</string>
            </dict>
            <key>enemy_ninjaBlue_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,374},{96,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,107}}</string>
                <key>sourceSize</key>
                <string>{96,107}</string>
            </dict>
            <key>enemy_ninjaBlue_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,664},{70,107}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{70,107}}</string>
                <key>sourceSize</key>
                <string>{96,107}</string>
            </dict>
            <key>enemy_ninjaBlue_die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,897},{96,93}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{96,93}}</string>
                <key>sourceSize</key>
                <string>{96,107}</string>
            </dict>
            <key>enemy_ninjaBlue_die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,714},{96,49}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,56},{96,49}}</string>
                <key>sourceSize</key>
                <string>{96,107}</string>
            </dict>
            <key>enemy_ninjaBlue_die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,164},{1,1}}</string>
                <key>offset</key>
                <string>{-53.5,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{108,75}</string>
            </dict>
            <key>enemy_ninjaBlue_hurt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,752},{80,101}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{80,101}}</string>
                <key>sourceSize</key>
                <string>{96,107}</string>
            </dict>
            <key>enemy_ninjaBlue_hurt_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,736},{64,107}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,107}}</string>
                <key>sourceSize</key>
                <string>{96,107}</string>
            </dict>
            <key>enemy_ninjaBlue_run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{94,107}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{94,107}}</string>
                <key>sourceSize</key>
                <string>{96,107}</string>
            </dict>
            <key>enemy_ninjaBlue_run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,656},{94,107}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{94,107}}</string>
                <key>sourceSize</key>
                <string>{96,107}</string>
            </dict>
            <key>enemy_ninjaBlue_stand_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{96,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,107}}</string>
                <key>sourceSize</key>
                <string>{96,107}</string>
            </dict>
            <key>enemy_ninjaPurple_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,366},{96,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,107}}</string>
                <key>sourceSize</key>
                <string>{96,107}</string>
            </dict>
            <key>enemy_ninjaPurple_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{96,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,107}}</string>
                <key>sourceSize</key>
                <string>{96,107}</string>
            </dict>
            <key>enemy_ninjaPurple_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,548},{70,107}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{70,107}}</string>
                <key>sourceSize</key>
                <string>{96,107}</string>
            </dict>
            <key>enemy_ninjaPurple_die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,897},{96,93}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{96,93}}</string>
                <key>sourceSize</key>
                <string>{96,107}</string>
            </dict>
            <key>enemy_ninjaPurple_die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,834},{96,49}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,56},{96,49}}</string>
                <key>sourceSize</key>
                <string>{96,107}</string>
            </dict>
            <key>enemy_ninjaPurple_die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,164},{1,1}}</string>
                <key>offset</key>
                <string>{-53.5,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{108,75}</string>
            </dict>
            <key>enemy_ninjaPurple_hurt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,632},{80,101}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{80,101}}</string>
                <key>sourceSize</key>
                <string>{96,107}</string>
            </dict>
            <key>enemy_ninjaPurple_hurt_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,728},{64,107}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,107}}</string>
                <key>sourceSize</key>
                <string>{96,107}</string>
            </dict>
            <key>enemy_ninjaPurple_run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,568},{94,107}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{94,107}}</string>
                <key>sourceSize</key>
                <string>{96,107}</string>
            </dict>
            <key>enemy_ninjaPurple_run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,560},{94,107}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{94,107}}</string>
                <key>sourceSize</key>
                <string>{96,107}</string>
            </dict>
            <key>enemy_ninjaPurple_stand_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,366},{96,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,107}}</string>
                <key>sourceSize</key>
                <string>{96,107}</string>
            </dict>
            <key>enemy_ninjaRed_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,276},{96,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,107}}</string>
                <key>sourceSize</key>
                <string>{96,107}</string>
            </dict>
            <key>enemy_ninjaRed_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,356},{96,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,107}}</string>
                <key>sourceSize</key>
                <string>{96,107}</string>
            </dict>
            <key>enemy_ninjaRed_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,439},{70,107}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{70,107}}</string>
                <key>sourceSize</key>
                <string>{96,107}</string>
            </dict>
            <key>enemy_ninjaRed_die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,876},{96,93}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{96,93}}</string>
                <key>sourceSize</key>
                <string>{96,107}</string>
            </dict>
            <key>enemy_ninjaRed_die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,971},{96,49}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,56},{96,49}}</string>
                <key>sourceSize</key>
                <string>{96,107}</string>
            </dict>
            <key>enemy_ninjaRed_die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,164},{1,1}}</string>
                <key>offset</key>
                <string>{-53.5,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{108,75}</string>
            </dict>
            <key>enemy_ninjaRed_hurt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,550},{80,101}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{80,101}}</string>
                <key>sourceSize</key>
                <string>{96,107}</string>
            </dict>
            <key>enemy_ninjaRed_hurt_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,221},{64,107}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,107}}</string>
                <key>sourceSize</key>
                <string>{96,107}</string>
            </dict>
            <key>enemy_ninjaRed_run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,454},{94,107}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{94,107}}</string>
                <key>sourceSize</key>
                <string>{96,107}</string>
            </dict>
            <key>enemy_ninjaRed_run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{94,107}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{94,107}}</string>
                <key>sourceSize</key>
                <string>{96,107}</string>
            </dict>
            <key>enemy_ninjaRed_stand_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,276},{96,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,107}}</string>
                <key>sourceSize</key>
                <string>{96,107}</string>
            </dict>
            <key>enemy_ninjaYellow_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,268},{96,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,107}}</string>
                <key>sourceSize</key>
                <string>{96,107}</string>
            </dict>
            <key>enemy_ninjaYellow_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{96,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,107}}</string>
                <key>sourceSize</key>
                <string>{96,107}</string>
            </dict>
            <key>enemy_ninjaYellow_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,330},{70,107}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{70,107}}</string>
                <key>sourceSize</key>
                <string>{96,107}</string>
            </dict>
            <key>enemy_ninjaYellow_die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,802},{96,93}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{96,93}}</string>
                <key>sourceSize</key>
                <string>{96,107}</string>
            </dict>
            <key>enemy_ninjaYellow_die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,657},{96,49}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,56},{96,49}}</string>
                <key>sourceSize</key>
                <string>{96,107}</string>
            </dict>
            <key>enemy_ninjaYellow_die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,164},{1,1}}</string>
                <key>offset</key>
                <string>{-53.5,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{108,75}</string>
            </dict>
            <key>enemy_ninjaYellow_hurt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{80,101}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{80,101}}</string>
                <key>sourceSize</key>
                <string>{96,107}</string>
            </dict>
            <key>enemy_ninjaYellow_hurt_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,112},{64,107}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,107}}</string>
                <key>sourceSize</key>
                <string>{96,107}</string>
            </dict>
            <key>enemy_ninjaYellow_run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,472},{94,107}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{94,107}}</string>
                <key>sourceSize</key>
                <string>{96,107}</string>
            </dict>
            <key>enemy_ninjaYellow_run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,464},{94,107}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{94,107}}</string>
                <key>sourceSize</key>
                <string>{96,107}</string>
            </dict>
            <key>enemy_ninjaYellow_stand_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,268},{96,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,107}}</string>
                <key>sourceSize</key>
                <string>{96,107}</string>
            </dict>
            <key>ninja_attackSword_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{200,108}}</string>
                <key>offset</key>
                <string>{55,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,0},{200,108}}</string>
                <key>sourceSize</key>
                <string>{326,108}</string>
            </dict>
            <key>ninja_attackSword_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,108}}</string>
                <key>offset</key>
                <string>{55,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,0},{200,108}}</string>
                <key>sourceSize</key>
                <string>{326,108}</string>
            </dict>
            <key>ninja_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,112},{84,108}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,0},{84,108}}</string>
                <key>sourceSize</key>
                <string>{326,108}</string>
            </dict>
            <key>ninja_die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{104,100}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,0},{104,100}}</string>
                <key>sourceSize</key>
                <string>{326,108}</string>
            </dict>
            <key>ninja_die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{114,50}}</string>
                <key>offset</key>
                <string>{-2,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,58},{114,50}}</string>
                <key>sourceSize</key>
                <string>{326,108}</string>
            </dict>
            <key>ninja_hurt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,104},{86,104}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,4},{86,104}}</string>
                <key>sourceSize</key>
                <string>{326,108}</string>
            </dict>
            <key>ninja_hurt_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,198},{76,108}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,0},{76,108}}</string>
                <key>sourceSize</key>
                <string>{326,108}</string>
            </dict>
            <key>ninja_run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,278},{76,106}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,2},{76,106}}</string>
                <key>sourceSize</key>
                <string>{326,108}</string>
            </dict>
            <key>ninja_run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,192},{84,106}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,2},{84,106}}</string>
                <key>sourceSize</key>
                <string>{326,108}</string>
            </dict>
            <key>ninja_run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,190},{76,108}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,0},{76,108}}</string>
                <key>sourceSize</key>
                <string>{326,108}</string>
            </dict>
            <key>ninja_stand_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,112},{76,108}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,0},{76,108}}</string>
                <key>sourceSize</key>
                <string>{326,108}</string>
            </dict>
            <key>ninja_stand_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{76,108}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,0},{76,108}}</string>
                <key>sourceSize</key>
                <string>{326,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ninjaSprite.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e39d4b3c395b1af1de74fb6e588f1d27$</string>
            <key>textureFileName</key>
            <string>ninjaSprite.pvr.ccz</string>
        </dict>
    </dict>
</plist>
